<ion-view title="">
  <ion-content class="padding profile">
    <div class="content has-header">
      <button class="button button-clear button-positive" ng-click="next()">
    Done
  </button>
      <ul class="list">
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="">
           </label>
           White/Caucasion
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="">
           </label>
           Asian
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="">
           </label>
           South Asian
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Hispanic / Latino
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Pacific Islander
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Middle Estern / Arap
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Black African / Descent
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Native American
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other
        </li>
      </ul>

    </div>
  </ion-content>
</ion-view>
