<ion-view title="">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="next()">
      <strong>Done</strong>
    </button>
  </ion-nav-buttons>
  <ion-content class="profile calm-bg">
    <div class="content">
      <ul class="list">
        <br><br>
        <li class="item item-checkbox">
           White/Caucasion
           <label class="checkbox right">
             <input type="checkbox" checked="">
           </label>
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="">
           </label>
           Asian
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="">
           </label>
           South Asian
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Hispanic / Latino
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Pacific Islander
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Middle Estern / Arap
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Black African / Descent
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Native American
        </li>
        <li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other
        </li>
      </ul>

    </div>
  </ion-content>
</ion-view>
