<ion-view title="Preferences">
  <ion-content class="padding profile">

    <div class="list clean-list">
      <div class="list clean-list">
      <label class="item item-input">
        <span class="input-label">Gender</span>
        <div class="button-bar">
        <a class="button">Women</a>
        <a class="button">Men</a>
        <a class="button">Both</a>
       </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Age</span>
        <div class="item range range-positive">
            <input type="range" name="volume" min="0" max="100" value="12">
          </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Height</span>
        <div class="item range range-positive">
            <input type="range" name="volume" min="0" max="100" value="12">
          </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Distance</span>
        <div class="item range range-positive">
            <input type="range" name="volume" min="0" max="100" value="12">
          </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Ethnicity</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="No Preference">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Location</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="No Preference">
        </label>
      </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Religion</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="No Preference">
        </label>
      </label>
      <button class="button button-block button-positive activated" ng-click="next()">Join the league</button>

      </label>
    </div>
  </ion-content>
</ion-view>
