<ion-view title="About Me">
  <ion-content class="padding about-me">

    <div class="list clean-form">
      <label class="item item-input">
        <span class="input-label">Gender</span>
        <div class="button-bar bar-positive">
        <a class="button active">Female</a>
        <a class="button">Male</a>
       </div>
      </label>

      <label class="item item-input">
        <span class="input-label">Height</span>
        <div class="item range range-positive">
          <rzslider rz-slider-model="height.minValue"
          rz-slider-high="height.maxValue"
          rz-slider-options="height.options"></rzslider>
          </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Ethnicity</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Location</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="Pick Location">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Religion</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <label class="">
          <button class="button button-block button-positive activated" ng-click="next()">Save and Next</button>
        </label>
      </label>

      </label>
    </div>
  </ion-content>
</ion-view>
