<ion-view title="About Me">
  <ion-content class="padding profile">

    <div class="list clean-list">
      <label class="item item-input">
        <span class="input-label">Gender</span>
        <div class="button-bar">
        <a class="button">Female</a>
        <a class="button">Male</a>
       </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Height</span>
        <div class="item range range-positive">
            <input type="range" name="volume" min="0" max="100" value="12">
          </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Ethnicity</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Height</span>
        <div class="item range range-positive">
            <input type="range" name="volume" min="0" max="100" value="12">
          </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Religion</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <button class="button button-block button-positive activated" ng-click="next()">Save and Next</button>

      </label>
    </div>
  </ion-content>
</ion-view>
