<ion-view hide-nav-bar="true">
  <ion-content class="padding center-content">
    <div class="highlight-title">
      WHY DO WE NEED YOUR LINKEDIN?
    </div>
    <p>
    Do you want to see your boss on a dating app? Yach,we didn't think so.
    </p>
    <ion-list class="clean-list">
      <ion-item class="item item-avatar">
        <img src="img/screen1.png">
        <div class="full-text">You and your LinkedIn connections will never see each other.</div>
      </ion-item>
      <ion-item class="item item-avatar">
        <img src="img/screen2.png">
        <div class="full-text">We take it one step further and ide anyone at your current place of employment</div>
      </ion-item>
      <ion-item class="item item-avatar">
        <img src="img/screen3.png">
        <div class="full-text">We import your bio to save you time.It also helps us screen out fakes </div>
      </ion-item>
    </ion-list>
    <button class="button button-block button-positive activated" ng-click="next()">Sign in with LinkedIn</button>
    <p class="description">
      We aer anti-spam.we will never post to your linkedin or notify contacts.
    </p>
  </ion-content>
