<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        My Stats
      </ion-item>
      <ion-item>
        <h2>item 1</h2>
        <span class="badge">9</span>
      </ion-item>
      <ion-item>
        <h2>item 2</h2>
      </ion-item>
      <ion-item class="item-divider">
        My Stats
      </ion-item>
      <ion-item>
        <h2>item 1</h2>
      </ion-item>
      <ion-item>
        <h2>item 2</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
