<ion-view hide-nav-bar="true">
  <ion-content class="padding center-content">
    <div class="highlight-title">
      YOU'RE ON THE WAITLIST FOR THE LEAGUE
    </div>
    <p>
      You are <a href="#">#25,888</a> oi 25,888 in NYC. We determine our best cities based on our waitlist signups.
    </p>
    <ion-list class="clean-list">
      <ion-item class="item item-avatar">
        <img src="img/adduser.png">
        <div class="full-text">I am <a href="#">Crazy</a>, are you?. I am Crazy, are you?.I am Crazy, are you?.</div>
      </ion-item>
      <ion-item class="item item-avatar">
        <img src="img/adduser.png">
        <div class="full-text">I am Crazy, are you?.</div>
      </ion-item>
      <ion-item class="item item-avatar">
        <img src="img/adduser.png">
        <div class="full-text">I am Crazy, are you?.</div>
      </ion-item>
    </ion-list>
    <button class="button button-block button-positive activated">Invite Friends</button>
    <p class="description">
      Global waitlist, you are
    </p>
  </ion-content>
</ion-view>
