<ion-view view-title="settings">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        My Stats
      </ion-item>
      <ion-item>
        <h2>VIP Ticket Remaining</h2>
        <span class="badge">0</span>
      </ion-item>
      <ion-item>
        <h2>Friends in The League</h2>
        <span class="badge">7</span>
      </ion-item>
      <ion-item>
        <h2>Number of Referrals</h2>
        <span class="badge">0</span>
      </ion-item>
      <ion-item>
        <h2>Date of Joined</h2>
        <span class="badge">3/19/16</span>
      </ion-item>
      <ion-item class="item-divider">
        Notifications
      </ion-item>
        <li class="item item-toggle">
       Happy Hour
       <label class="toggle toggle-calm">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
         <li class="item item-toggle">
        New Match
        <label class="toggle toggle-calm">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
          <li class="item item-toggle">
         Concierge Messages
         <label class="toggle toggle-toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </li>
             <ion-item class="item-divider">
               About The League
             </ion-item>
             <ion-item>
               <h2>Privacy Policy</h2>
               <span class="badge">></span>
             </ion-item>
             <ion-item>
               <h2>Terms of Service</h2>
               <span class="badge">></span>
             </ion-item>
             <ion-item>
               <h2>Current Version</h2>
               <span class="badge">2.0.2(build 82)</span>
             </ion-item>
             <ion-item class="item-divider">
               Actions
             </ion-item>
             <button class="button button-clear button-calm">Invite Friends</button>
             <button class="button button-clear button-calm">button-calm</button>
             <button class="button button-clear button-calm">button-calm</button>
             <button class="button button-clear button-calm">button-calm</button>
             <button class="button button-clear button-calm">button-calm</button>
           </div>
       </label>
    </ion-list>
  </ion-content>
</ion-view>
