<ion-view title="Edit Profile">
  <ion-content class="padding profile">
    <div class="list clean-list">
      <label class="item item-input">
        <span class="input-label">Location</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Religion</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Profession</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Education</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Interests</span>
        <label class="item-input-wrapper">
      <input type="text" placeholder="None Stated">
        </label>
      </label>
      <button class="button button-block button-positive activated" ng-click="next()">Add Interest</button>

      </label>
    </div>
  </ion-content>
</ion-view>
