<ion-view title="Profile">
  <ion-content class="padding profile">
    <img class="full-image profile-image" src="img/user-profile.png" alt="" />
    <div class="row">
      <div class="col">
        <img class="profile-icon" src="img/linkedin.png" alt="" />
      </div>
      <div class="col col-50 center">
        <h2 class="title">Arthur C.</h2>
        <p>
          26 • Midtown • 5' 11"
        </p>
      </div>
      <div class="col">
        <img class="profile-icon" src="img/edit.png" alt="" />
      </div>
    </div>
    <div class="list clean-list">
      <label class="item item-input">
        <span class="input-label">About me</span>
        <div class="input-content">
          Joly molly
        </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Education</span>
        <div class="input-content">
          HEC Paris • Round the world tour • AgroParisTech-Institutdes sciences et industries du vivant et de |'environnement
                </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Profession</span>
        <div class="input-content">
          Founder @ Methode-Perpa.com • HEC Entrepreneurs @ HEC Paris • Consultant-Advisory @ PWC
                </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Interests</span>
        <div class="input-content">
          Enerysquare • MOTHERBOARD • M.Oscar • Product Hunt • AgroEntrepreneurs Student Orakeo • Foudre Bref How I Met Your Mother
                </div>
      </label>
    </div>
  </ion-content>
</ion-view>
