<ion-view title="Profile">
  <ion-content class="padding profile">
    <img class="full-image profile-image" src="img/user-profile.png" alt="" />
    <div class="row">
      <div class="col">
        <img class="profile-icon" src="img/linkedin.png" alt="" />
      </div>
      <div class="col col-50 center">
        <h2 class="title">Arthur C.</h2>
        <p>
          26 • Midtown • 5' 11"
        </p>
      </div>
      <div class="col">
        <img class="profile-icon" src="img/edit.png" alt="" />
      </div>
    </div>
    <div class="list clean-list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <div class="input-content">
          testing content here
        </div>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
  </ion-content>
</ion-view>
