<ion-view title="Profile">
  <ion-content class="padding profile">
    <img class="full-image profile-image" src="img/user-profile.png" alt="" />
    <div class="row profile-title">
      <div class="col col-20">
        <img class="profile-icon" src="img/linkedin.png" alt="" />
      </div>
      <div class="col col-60 center">
        <h2 class="title">Arthur C.</h2>
        <p>
          26 • Midtown • 5' 11"
        </p>
      </div>
      <div class="col col-20">
        <a href="#/tab/profile/edit/1">
          <img class="profile-icon" src="img/edit.png" alt="" />
        </a>
      </div>
    </div>
    <div class="list clean-form">
      <label class="row">
        <span class="input-label col col-25">About me</span>
        <div class="input-content col col-75">
          Joly molly
        </div>
      </label>
      <label class="row">
        <span class="input-label col col-25">Education</span>
        <div class="input-content col col-75">
          HEC Paris • Round the world tour • AgroParisTech-Institutdes sciences et industries du vivant et de |'environnement
                </div>
      </label>
      <label class="row">
        <span class="input-label col col-25">Profesion</span>
        <div class="input-content col col-75">
          Founder @ Methode-Perpa.com • HEC Entrepreneurs @ HEC Paris • Consultant-Advisory @ PWC
                </div>
      </label>
      <label class="row">
        <span class="input-label col col-25">Interests</span>
        <div class="input-content col col-75">
          Enerysquare • MOTHERBOARD • M.Oscar • Product Hunt • AgroEntrepreneurs Student Orakeo • Foudre Bref How I Met Your Mother
                </div>
      </label>
    </div>
  </ion-content>
</ion-view>
